.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  //border: 2px solid green;
  .left-home-content {
    display: flex;
    align-items: center;
    position: relative;
    //border: 2px solid yellow;
  }
  .right-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12rem;
    //border: 2px solid orangered;
  }
  @media only screen and (max-width: 630px){
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0;
    .right-home-content {
      padding-right: 5rem;
      grid-row: 1;
      padding-right: 3rem;
    }
  }
}

