.nav-btn {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
    
  i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
}
.active-btn {
  background-color: var(--color-secondary);
  transition: all .4s ease-in-out;
  i {
    color: var(--color-white) ;
  }
}