.nav-btns {
  //position: fixed;
  //top: 50%;
  //right: 3%;
  //transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  border: 1px solid red;
}