.about-text {
  padding-right: 5rem;
  padding-top: 3rem;
  p {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey-1);
  }
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 630px) {
    padding: 2rem 0.8rem;
  }
}