.about-text {
  padding-right: 5rem;
  p {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey-1);
  }
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.about-section-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
}